@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-v18-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/roboto-v18-latin-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/roboto-v18-latin-700.woff2') format('woff2');
}

:root {
  --page-break-color: #eee;
}

* + * {
  margin-top: 1.5em;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  max-width: 52rem;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}

.page-header {
  margin: 1em 0;
  text-align: center;
}

.site-info {
  margin-top: 0;
}

.site-info > * {
  margin: 0;
}

.name {
  font-size: 1.4em;
  font-weight: lighter;
}

.roles {
  font-size: 0.91em;
}

.selfie {
  max-width: 5em;
  height: auto;
  border-radius: 50%;
}

a,
a:active {
  color: #319bd0;
  text-decoration: none;
}

a:hover {
  color: #0f3464;
  text-decoration: underline;
}

nav {
  border-bottom: 1px solid var(--page-break-color);
  margin-top: 0.5em;
  padding-bottom: 1em;
}

nav a {
 font-weight: 300;
 padding-left: 0.5em;
 padding-right: 0.5em;
}

main {
  margin-top: 0;
}

.post-header {
  text-align: center;
}

.post-title {
  margin: 0;
  font-size: 1.8em;
}

.post-published-date {
  display: block;
  font-size: 0.9em;
  font-style: italic;
  margin-top: 0;
}

.post-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-snippet-title {
  margin: 0;
  font-size: 1.5em;
}

.post-snippet-blurb {
  text-align: center;
  margin-top: 0.5em;
}

blockquote {
  font-style: italic;
  margin-left: 1em;
  margin-right: 1em;
}

footer {
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 1rem 0;
  border-top: 1px solid var(--page-break-color);
  padding-top: 1rem;
}

footer > * {
  margin-top: 0;
}

.social-account {
  display: inline-flex;
  justify-content: center;
  gap: 0.2em;
}

.social-account > * {
  margin: 0;
}

.social-account-icon {
  max-width: 1em;
  max-height: 1em;
  object-fit: contain;
}


li + * {
  margin-top: 0.5em;
}
